$primary: #f4e041;
$secondary: #00bdd3;
$white: #ffffff;
$black: #000000;
$yellow: #ffe302;
$error: #cb3d40;
$grey: #b4b4b4;
$darkgrey: #7e7e7e;
$lightgrey: #d0cfcf;
$bg-color: #f8f8f8;

$mb-lg: 140px;
$mb-sm: 50px;

$size-sm: 389.8px;
$size-md: 797.8px;
$size-lg: 1053.8px;
$size-xl: 1199.8px;
